body{
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Spice&family=Monoton&display=swap');
@tailwind base;

@tailwind components;

@tailwind utilities;


@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
}